@import "tailwindcss";

@font-face {
  font-family: 'AtariClassic';
  src: url('../public/AtariClassic-Regular.ttf') format('truetype');
}

html, body, #root {
  @apply h-screen w-screen;
}

.loadingScreen {
  @apply h-screen w-screen bg-black z-2 fixed;
}